absl-py==2.1.0
anyio==4.2.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
bqskit==1.1.1
bqskitrs==0.4.1
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cma==3.3.0
comm==0.2.1
contourpy==1.2.0
cryptography==42.0.1
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.8
docplex==2.25.236
executing==2.0.1
Farama-Notifications==0.0.4
fastdtw==0.3.4
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.1
fonttools==4.47.2
fqdn==1.5.1
frozendict==2.4.0
fsspec==2023.12.2
google-auth==2.27.0
google-auth-oauthlib==1.2.0
graphviz==0.20.1
grpcio==1.60.0
gymnasium==0.29.1
h5py==3.10.0
html5lib==1.1
ibm-cloud-sdk-core==3.19.1
ibm-platform-services==0.49.0
identify==2.5.33
idna==3.6
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.0
ipython==8.20.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.11
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
kiwisolver==1.4.5
lark-parser==0.12.0
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.2.0
mpmath==1.3.0
mqt.bench==1.0.8
multitasking==0.0.11
Nasdaq-Data-Link==1.0.4
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
nodeenv==1.8.0
notebook==7.0.7
notebook_shim==0.2.3
numpy==1.26.3
oauthlib==3.2.2
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.3
pbr==6.0.0
peewee==3.17.0
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.1.0
pluggy==1.4.0
ply==3.11
pre-commit==3.6.0
prometheus-client==0.19.0
prompt-toolkit==3.0.43
protobuf==4.23.4
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
pylatexenc==2.10
pyparsing==3.1.1
pyscf==2.4.0
pyspnego==0.10.2
pytest==8.0.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytket==1.24.0
pytket-qiskit==0.48.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
qiskit==0.45.3
qiskit-aer==0.13.3
qiskit-algorithms==0.2.2
qiskit-finance==0.4.0
qiskit-ibm-provider==0.8.0
qiskit-ibm-runtime==0.17.0
qiskit-nature==0.7.1
qiskit-optimization==0.6.0
qiskit-terra==0.45.3
qtconsole==5.5.1
QtPy==2.4.1
qwasm==1.0.1
referencing==0.33.0
requests==2.31.0
requests-ntlm==1.2.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.17.1
rsa==4.9
rustworkx==0.14.0
sb3-contrib==2.2.1
scikit-learn==1.3.2
scipy==1.12.0
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
stable-baselines3==2.2.1
stack-data==0.6.3
stevedore==5.1.0
symengine==0.11.0
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
terminado==0.18.0
threadpoolctl==3.2.0
tinycss2==1.2.1
torch==2.1.2
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
types-pkg-resources==0.1.3
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
tzdata==2023.4
uri-template==1.3.0
urllib3==2.1.0
virtualenv==20.25.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.9
yfinance==0.2.36
